<style>
  header{
    color:white;
    /*border:4px solid blue;*/
    background-color:#666;
    height:300px;
    padding:0px;
    margin:60px;
    border:0px;
  }


  article {
    float: left;
    /* padding: 20px;
    width: 70%; */
    background-color: #f1f1f1;
  }

  /* Clear floats after the columns */
  /* section::after {
    content: "";
    display: table;
    clear: both;
  } */

  body {
    background-color:white; /*#ccc;*/
    color:black;
    font-size:1.5vw;
    height: 100vh;
    /*min-height: 100%;*/
    padding-bottom: 5vw;
  }



  #content {
    min-height: calc(100vh - 10vh);
  }



  /* Style the footer */
  footer {
    font-size: 0.75vw;
    clear: both;
    position: fixed; /* absolute; /* relative;*/
    bottom: 0vh;
    width: 100%;
    height: 1.5vh;
    background-color: #777;
    padding: 0.25vw;
    text-align: center;
    color: white;
    margin-top: 1vw;
    /*margin-bottom: -1px;*/
    margin-left:0%;
  }

  /* tab button style*/
  .tab button{
    background-color:#f1f1f1;
    color:black;
    font-size:18pt;
    font-style:italic;
    padding:5px 10px;
  }

  .tab button:hover {
    background-color:#ccc; /* #ddd;*/
  }

  .tab button.active{
    background-color:#ccc;
  }

  /* Navigation */
  .sidenav {
    height: 100%;
    width: 10vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 1vw;
  }

  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    color: #818181;
    display: block;
  }

  .sidenav a:hover {
    color: #f1f1f1;
  }

  .main {
    margin-left: 10vw; /* Same as the width of the sidenav */
    font-size: 1.2vw;
    padding: 0px 10px;
  }

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 1vw;}
    .sidenav a {font-size: 1.2vw;}
  }

  tt {
    font-size: 10pt;
  }

/*
  page-container {
    position: relative;
    min-height: 100vh;
  }
  content-wrap {
    padding-bottom: 1rem;
  }
*/

</style>
